/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- #f3b76a
- #f17500
- #0d6e00
- #6d00fb
- #dbff39
- #74c9f1
- #fb4040

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/

html{
    background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}


h1{
    background-image: linear-gradient(rgb(116, 201, 241), rgb(251, 64, 64));
    width: 60%;
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    text-decoration: underline;
    color: blueviolet;
    text-shadow: 1px 1px 1px black;
    padding-top:10px;
}
/* Row 1 Styling */
#row1{
    height: auto;
    width: 600px;
    margin: auto;
}

#row1-section2{
    border: 1px solid black;
    background: rgb(116, 201, 241);
    border-radius: 5px;
    border: 2px solid red;
}
#jordans-1{
    height: 400px;
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    border: 2px solid blue;
}

#jordans-1-desc {
    color: white;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}

/* Row 2 styling */
#row2{
    height: autopx;
    width: 600px;
    margin: auto;
}

#jordans-2{
    height: 400px;
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    border: 2px solid red;
}

#row2-section2{
    border: 1px solid black;
    background: rgb(251, 64, 64);
    border-radius: 5px;
    border: 2px solid blue;
}
#jordans-2-desc{
    margin: 5px;
    color: white;
    font-family: 'Times New Roman', Times, serif';
}